html {
  background: url(../assets/video.mp4) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#landing {
  flex-direction: column;
  text-align: center;
  max-height: 100vh;
  z-index: 0;
}

#landing-background-video {
  z-index: 1;
}

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-header-name {
  z-index: 2;
  margin: 0;
  height: fit-content;
  font-size: 48px;

  background-color: transparent;
  color: white;
  position: fixed;
  left: 1vw;
  top: 1vh;
}

#login-page-button {
  z-index: 2;
  margin: 0;
  background-color: transparent;
  color: white;
  position: fixed;
  right: 1vw;
  top: 3vh;
  border: none;
  font-size: 30px;
}

#login-page-button:hover {
  color: yellow;
  font-size: 36px;
}

#login-sub-buttons {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

#login-sub-buttons > a {
  text-decoration: none;
}
