html {
  background-color: #dfe3e2;
}

.landing-overlay-hello-left {
  margin: 0;
  padding: 0;
  font-size: 4vw;
  color: rgb(0, 0, 0);
}

.landing-overlay-hello-right {
  margin: 0;
  padding: 0;
  font-size: 4vw;
  color: rgb(0, 0, 0);
}

#landing-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 20vh;
}

/* .landing-overlay-hello {
  opacity: 0;
  transition: opacity 1500ms;
}

.landing-overlay-hello-visible {
  opacity: 1;
  transition: opacity 1000ms;
} */

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  z-index: 0;
}
