#login {
  z-index: 100;
  background-color: white;
  position: absolute;
  width: 500px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-exit-button {
  position: absolute;
  right: 0.5vw;
  top: 0.5vh;
  border: none;
  background-color: white;
}

#login-button {
  width: 265px;
  margin-bottom: 1vh;
  background-color: white;
  border: 1px solid gray;
}
#login-sub-buttons {
  display: flex;
  width: 15vw;
  justify-content: space-between;
}

#login-id-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-pw-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-email-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-hobby-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-id,
#login-pw,
#login-email {
  border: 1px solid gray;
  width: 265px;
  height: 40px;
}

#login-id {
  border-radius: 3%;
  border-bottom: none;
}

#login-email {
  border-radius: 3%;
  border-top: none;
}
