#register {
  z-index: 100;
  background-color: white;
  width: 500px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#register-exit-button {
  position: absolute;
  right: 10px;
  top: 0;
  padding: 15px;
  border: none;
  background-color: white;
}

#register-fullName,
#register-pw,
#register-email {
  border: 0.03rem solid gray;
  font-size: 7px;
  width: 16rem;
  height: 2rem;
  padding: 0;
}

#register-email,
#register-fullName {
  border-bottom: none;
}

#register-job {
  border-top: 0;
  border: 0.03rem solid gray;
  font-size: 7px;
  height: 2rem;
  width: 16.06rem;
}

.warning {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 16rem;
  margin-bottom: 3vh;
  font-weight: 100;
  font-size: 1px;
}

#register-button {
  width: 3.5rem;
  padding: 5px;
  color: white;
  background-color: #1c65c9;
  border: 1px solid white;
  font-size: 7px;
  border-radius: 4px;
}

.login-button {
  width: 16rem;
  text-align: center;
  display: flex;
  font-weight: lighter;
  justify-content: right;
  align-items: center;
}
