<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>sidebar</title>
    <link
      href="https://fonts.cdnfonts.com/css/instagram-sans-2"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/b062febd1b.js"
      crossorigin="anonymous"
    ></script>
    <link href="../css/sidebar.css" rel="stylesheet" />
  </head>

  <body>
    <div class="border rounded-1 w-100">
      <ul
        class="comment-box d-flex flex-column user-info border-bottom mb-3"
        style="height: 650px; overflow: auto"
      >
        <!-- 댓글창 -->
      </ul>

      <!-- 댓글 입력하는 부분 -->
      <i class="fa-regular fa-heart fa-lg like-button" style="margin: 10px"></i>
      <div style="margin: 10px" class="like-counter"></div>
      <div
        class="input-box d-flex align-items-center justify-content-between"
        style="margin-bottom: 10px"
      >
        <input
          type="text"
          placeholder="댓글 달기..."
          id="comment-input"
          style="
            border: none;
            width: 100%;
            outline: none;
            margin-left: 10px;
            font-size: 13px;
          "
        />
        <button
          class="border-0"
          id="comment-btn"
          style="
            background-color: transparent;
            color: rgb(71, 197, 255);
            padding: 0;
            width: 2.5rem;
            margin-right: 10px;
            font-size: 13px;
            font-weight: 900;
          "
        >
          게시
        </button>
      </div>
    </div>

    <!-- navbar -->
    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <i class="fa-solid fa-chevron-down"></i>
      </label>

      <ul class="menu__box">
        <li><a class="menu__item" href="../index.html">Home</a></li>
        <li>
          <a class="menu__item create" href="./createRoom.html">Create Room</a>
        </li>
        <li>
          <a
            class="menu__item logout"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#logout-modal"
            >Logout</a
          >
        </li>
      </ul>
    </div>

    <!-- login 모달 창 -->
    <div class="modal fade" id="login-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="login-modal">Login</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">로그인 하시겠습니까?</div>

          <div class="modal-footer pagination">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <a a class="page-link btn" href="./login.html"> Login </a>
          </div>
        </div>
      </div>
    </div>

    <!-- logout 모달 창 -->
    <div class="modal fade" id="logout-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="logout-modal">Logout</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">로그아웃 하시겠습니까?</div>

          <div class="modal-footer pagination">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <a class="page-link logout-btn btn"> Logout </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"
  ></script>
  <!-- <script src="../scripts/sidebar.js"></script>
  <script src="../scripts/comment.js"></script> -->
</html>
