<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>sidebar</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link href="../css/sidebar.css" rel="stylesheet" />
  </head>

  <body>
    <div
      class="fs-3 mb-5 text-bg-primary d-flex justify-content-center w-100 align-items-center"
      style="top: 10%; height: 10%"
    >
      대충 메인페이지
    </div>

    <!-- navbar -->
    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>

      <ul class="menu__box">
        <li>
          <a class="menu__item create" href="./createRoom.html">Create Room</a>
        </li>
        <li><a class="menu__item" href="./about.html">About</a></li>
        <li>
          <a
            class="menu__item logout"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#logout-modal"
            >Logout</a
          >
        </li>
      </ul>
    </div>

    <!-- login 모달 창 -->
    <div class="modal fade" id="login-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="login-modal">Login</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">로그인 하시겠습니까?</div>

          <div class="modal-footer pagination">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <a a class="page-link btn" href="./login.html"> Login </a>
          </div>
        </div>
      </div>
    </div>

    <!-- logout 모달 창 -->
    <div class="modal fade" id="logout-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="logout-modal">Logout</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">로그아웃 하시겠습니까?</div>

          <div class="modal-footer pagination">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <a class="page-link logout-btn btn"> Logout </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"
  ></script>
  <script src="../scripts/sidebar.js"></script>
</html>
