<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link href="../css/sidebar.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/b062febd1b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body
    class="d-flex flex-column align-items-center h-100 align-items-center justify-content-center"
    style="background-image: url('../../public/메인\,시작화면배경.png')"
  >
    <!-- navbar -->

    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <i class="fa-solid fa-chevron-down"></i>
      </label>

      <ul class="menu__box">
        <li><a class="menu__item" href="./index.html">Home</a></li>
        <li><a class="menu__item" href="./about.html">About</a></li>
      </ul>
    </div>
    <div
      class="shadow position-absolute start-25 register-form rounded-5"
      style="width: 40%; height: 55%"
    >
      <form
        class="w-100 h-100 d-flex flex-column justify-content-center align-items-center register-form rounded-5"
        novalidate
        action="#"
        style="border: 1px solid white; background-color: transparent"
        class="shadow"
      >
        <h2 class="fw-bold" style="color: #848383">LOGIN</h2>
        <div class="m-xxl-3 w-75">
          <!-- Email Address 입력부 -->
          <span class="d-flex justify-content-between w-100 mb-3 form-floating">
            <input
              type="text"
              class="form-control"
              style="width: 70%; height: 3rem"
              id="InputEmail"
              aria-describedby="emailHelp"
              required
              placeholder="이메일"
            />
            <label for="InputEmail">Email address</label>
            <input
              class="form-control"
              value="@khu.ac.kr"
              aria-label="readonly input example"
              style="
                width: 28%;
                text-align-last: center;
                padding: 0;
                font-size: large;
                color: #35383a;
                background-color: #fef4ec;
              "
              disabled
            />
          </span>

          <!-- Password 입력부 -->
          <div class="w-100 mb-3 form-floating">
            <input
              type="password"
              class="form-control"
              id="InputPassword"
              required
              minlength="6"
              maxlength="14"
              placeholder="비밀번호"
              style="height: 3rem"
            />
            <label for="InputPassword">Password</label>
            <div id="passwordHelpBlock" class="form-text">
              비밀번호는 6~14자 사이로 작성해주세요.
            </div>
          </div>
        </div>

        <div
          class="form-check d-flex flex-column p-0 justify-content-between w-75"
        >
          <div class="d-flex w-100 justify-content-between mt-3">
            <a
              href="./register.html"
              style="color: #848383"
              class="link-underline-light text-decoration-none d-flex flex-column align-items-center justify-content-center"
              >계정 만들기</a
            >
            <button
              type="submit"
              class="btn form-check"
              style="background-color: transparent"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/login.js"></script>
  </body>
</html>
