<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous"
    />

  </head>

  <body class="d-flex w-100 h-100 align-items-center justify-content-center">
    <form class="w-100 d-flex flex-column align-items-center register-form">
      <!-- 헤더 입력부 -->
      <div class="fs-2 position-absolute" style="top: 10%;">계정 생성 페이지</div>

      <!-- 상위 폼 작성부 -->
      <div class="basic-info-container container-sm d-flex flex-column align-items-center " style="width: 30%;">
        <!-- 아이디 입력부 -->
        <div class="w-100 mb-3">
          <input type="text" class="form-control" id="InputID" placeholder="아이디" required/>
        </div>

        <!-- Password 입력부 -->
        <div class="w-100 mb-3">
          <input
            type="password"
            class="form-control password-input"
            id="InputPassword"
            required
            minlength="6"
            maxlength="14"
            placeholder="비밀번호"
          />
          <div class="form-text">
            비밀번호는 6~14자 사이로 작성해주세요.
          </div>
        </div>

        <!-- Email Address 입력부 -->
        <span class="d-flex justify-content-between w-100">
          <input 
            type="text"
            class="form-control"
            style="width:73%;"
            id="InputEmail"
            aria-describedby="emailHelp"
            required
            placeholder="이메일"
          />
          <input class="form-control w-25" type="text" value="@khu.ac.kr " aria-label="readonly input example" readonly>
        </span>
      </div>
      
      <!-- 구분선 -->
      <div class="border mt-3 mb-3" style="width: 29%"></div>

      <!-- 하위 폼 작성부 -->
      <div class="basic-info-container container-sm  d-flex flex-column align-items-center " style="width: 30%; height: 16rem;">
        
        <!-- 이름 입력부 -->
        <div class="w-100 mb-3">
          <input type="text" class="form-control" id="InputName" placeholder="이름" required/>
        </div>

        <div class="w-100 mb-3 d-flex align-items-center justify-content-between">
          <!-- 나이 입력부 -->
          <span style="width: 48%">
            <select class="form-select" id="InputAge" required>
              <option selected disabled value="">나이</option>
            </select>
          </span>
          

          <!-- 직업 입력부 -->
          <span class="m"style="width: 48%">
            <select class="form-select" id="InputJob" required>
              <option selected disabled value="">직업</option>
              <option value="student">학생</option>
              <option value="teacher">교사</option>
              <option value="soldier">군인</option>
              <option value="salaryman">회사원</option>
              <option value="self-employment">자영업</option>
              <option value="none">해당사항없음</option>
            </select>
          </span>
        </div>
        
        <!-- 전화번호 입력부 -->
        <div class="w-100 mb-3">
          <input type="text" class="form-control" id="InputPhoneNumber" placeholder="휴대전화번호" required/>
          
          <div id="phoneHelpBlock" class="form-text mb-1">
           전화번호는 숫자만 입력해주세요.
          </div>
        </div>
       
        <!-- 프로필 이미지 입력부 -->
        <div class="w-100" style="display: grid;">
          <div class="w-100 d-flex justify-content-between">
            <input class="form-control profile-img" type="file" id="InputProfile" style="width: 88%; display: inline;">
            <img id="previewImg" style="width:10%;"/>
          </div>
          <div id="profileHelpBlock" class="form-text mb-1" accept="image/*">
            프로필 이미지로 사용할 이미지를 선택해주세요.
          </div>
        </div>
        
        
        <div class="d-flex w-100 justify-content-between mt-3">
            <a href="./login.html" class="link-underline-light">로그인하러 가기</a>
            <button type="submit" class="btn btn-primary form-check btns">
              Submit
            </button>
          </div>
      </div>
    </div>
    </form>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>

    <script src="../scripts/register.js">
    </script>
  </body>
</html>