<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous"
    />
  </head>

  <body>
    <form class="d-flex flex-column justify-content-center align-items-center needs-validation was-validated" novalidate>
      
      <p class="fs-2 mb-5 mt-3">계정 만들기</p>
      <!-- 이름 입력부 -->
      <div class="mb-3 w-50">
        <label for="exampleInputName1" class="form-label" >Name</label>
        <input type="text" class="form-control" id="exampleInputName1" required/>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <!-- Email Address 입력부 -->
      <div class="mb-3 w-50">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          required
        />

        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>


      <!-- Password 입력부 -->
      <div class="mb-3 w-50">
        <label for="Password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control password-input"
          id="Password"
          required
          minlength="8"
          maxlength="20"
        />
        
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Your password must be 8-20 characters long.
        </div>
      </div>

      <div class="mb-3 w-50">
        <label for="validationCustom04" class="form-label">State</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>학생</option>
        <option>교사</option>
      <option>군인</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
      </div>
      
      </div>
      <div class="position-relative w-50">
        <div id="liveAlertPlaceholder" class="start-0 w-75"></div>
      </div>
      <div
        class="form-check d-flex flex-column w-50 p-0 justify-content-between"
      >
       
        <div class="d-flex w-100 justify-content-between mt-3">
          <a href="/front/views/login.html" class="link-underline-light">로그인하러 가기</a>
          <button type="submit" class="btn btn-primary form-check btns">
            Submit
          </button>
        </div>
      </div>
    </form>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>

    <script
      src="../js/validate.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>