<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>sidebar</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      href="../css/sidebar.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/b062febd1b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- navbar -->
    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <i class="fa-solid fa-chevron-down"></i>
      </label>

      <ul class="menu__box">
        <li><a class="menu__item" href="./index.html">Home</a></li>
        <li>
          <a class="menu__item create" href="./createRoom.html" >Create Room</a>
        </li>
        <li><a class="menu__item" href="./about.html">About</a></li>
        <li>
          <a
            class="menu__item logout"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#logout-modal"
            >Logout</a
          >
        </li>
      </ul>
    </div>


    <div
    class="w-100 d-flex flex-column align-items-center register-form mt-5"
  >
  <!-- 상위 폼 작성부 -->
  <div
  class="basic-info-container container-sm d-flex flex-column align-items-center"
  style="width: 30%"
  >
  
<!-- 프로필 출력되는 곳 -->
      <img 
      id="previewImg"
      class="mb-3"
      style="
        width: 100%;
        border: 1px solid rgba(199, 199, 199, 0.384);
        border-radius: 5px;
      "
      src="../../public/default-avatar.jpg"
      />

      <!-- 닉네임 입력부 -->
      <div class="w-100 mb-3 form-floating">
      <input
      type="text"
      class="form-control"
      style="height: 3rem"
      id="InputNick"
      placeholder="닉네임"
      disabled
      />
      <label for="InputNick">Account Name</label>
      </div>
    

<!-- 이름 입력부 -->
<div class="w-100 mb-3 form-floating">
  <input
    type="text"
    class="form-control"
    style="height: 3rem"
    id="InputName"
    placeholder="사용자 이름"
    minlength="2"
    disabled
  />
  <label for="InputName">Name</label>
</div>
      <!-- Email Address 입력부 -->
      <span class="d-flex justify-content-between w-100 form-floating">
        <input
          type="text"
          class="form-control"
          style="width: 100%; height: 3rem"
          id="InputEmail"
          aria-describedby="emailHelp"
          required
          placeholder="이메일"
          disabled
        />
        <label for="InputEmail">Email address</label>
      </span>

      
    </div>


    <!-- 하위 폼 작성부 -->
    <div
      class="basic-info-container container-sm d-flex flex-column align-items-center"
      style="width: 30%; height: 16rem"
    >

    <!-- 구분선 -->
<div class="border mt-3 mb-3" style="width: 100%"></div>
      <div
        class="w-100 mb-3 d-flex align-items-center justify-content-between"
      >
        <!-- 나이 입력부 -->
        <span class="form-floating" style="width: 48%" >
            <input selected disabled id="InputAge" class="form-control" style="height: 3rem">
            </input>
          <label for="InputAge">Age</label>
        </span>

        <!-- 직업 입력부 -->
        <span class="form-floating"  style="width: 48%">
          <input class="form-control" id="InputJob" disabled>
          </input>
          <label for="InputJob">Job</label>
        </span>
      </div>

      <!-- 전화번호 입력부 -->
      <div class="w-100 mb-3 form-floating">
        <input
          type="text"
          class="form-control"
          id="InputPhoneNumber"
          placeholder="휴대전화번호"
          style="height: 3rem"
          minlength="11"
          disabled
        />
        <label for="InputPhoneNumber">Phone number</label>
        
      </div>

      <!-- 프로필 이미지 입력부 (정보 수정 시 보이게끔 수정 해야함)-->
      <div class="w-100" style="display: none;" id="ProfileContainer">
        <div class="w-100 d-flex justify-content-between h-50">
          <div class="input-group mb-3" style="width: 100%">
            <input
              class="form-control profile-img position-relative"
              type="file"
              id="InputProfile"
            />
          </div>
          
        </div>
        <div id="profileHelpBlock" class="form-text mb-1" accept="image/*">
          프로필 이미지로 사용할 이미지를 선택해주세요.
        </div>
      </div>

      <div class="d-flex w-100 justify-content-between mt-3">
        <a
          href="#"
          class="link-underline-light text-decoration-none d-flex flex-column align-items-center justify-content-center"
          id="ChangeUser"
          >정보 수정하기</a
        >

        <button
          type="submit"
          class="btn btn-primary form-check btns btn-submit"
          style="display: none;"
        >
          Submit
        </button>
      </div>
    </div>
  </div>

   <!-- logout 모달 창 -->
   <div class="modal fade" id="logout-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="logout-modal">Logout</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">로그아웃 하시겠습니까?</div>

        <div class="modal-footer pagination">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <a class="page-link logout-btn btn"> Logout </a>
        </div>
      </div>
    </div>
  </div>
    
    
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"
  ></script>
  <script
    src="../scripts/user.js"
  ></script>
  <script
    src="../scripts/sidebar.js"
  ></script>
</html>
