/* font-family: "pretendard", sans-serif;
font-weight: 500;
font-style: normal; */

@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap");

@font-face {
  font-family: "kopub";
  src: url("/fonts/KOPUBWORLD DOTUM MEDIUM.TTF") format("truetype");
}

@font-face {
  font-family: "kopub-bold";
  src: url("/fonts/KOPUBWORLD DOTUM BOLD.TTF") format("truetype");
}

@font-face {
  font-family: "youtube";
  src: url("/fonts/YOUTUBE-SANS-MEDIUM.TTF") format("truetype");
}

@font-face {
  font-family: "scdream";
  src: url("/fonts/SCDREAM6.OTF") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

.css-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.experience {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Pretendard-Regular", sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.svg-wrapper {
  margin: auto;
}

.btn-home {
  width: 100px;
  height: auto;
}

.info-card {
  position: absolute;
  width: 18rem;
  top: 25%;
  left: 50%;
  transform: translate(-40vw, 0);
}

.info-card-title {
  font-family: "scdream", sans-serif;
}

.info-card-writer {
  font-family: "kopub-bold", sans-serif;
}

.info-card-comment {
  font-family: "kopub", sans-serif;
}

/* Landing Page */
.login-wrapper {
  position: fixed;
  width: 40%;
  height: 40%;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.active-popup {
  transform: scale(1);
}

.arrow-wrapper-right {
  position: fixed;
  top: 88%;
  left: 90%;
  transform: translate(-50%, -50%);
  fill: rgba(255, 255, 255, 1);
}

.arrow-wrapper-left {
  position: fixed;
  top: 88%;
  left: 10%;
  transform: translate(-50%, -50%);
  fill: rgba(255, 255, 255, 1);
}

.room-page-wrapper {
  position: fixed;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgba(255, 255, 255, 1);
}

.room-page-wrapper > svg {
  margin: 10px;
}

.room-page-wrapper > span > svg {
  margin: 10px;
}

.room-page-wrapper > span > svg.selected {
  transform: scale(1.5);
}

.arrow-svg-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: auto;
  height: auto;
  top: 90%;
  left: 46.3%;
  animation: bounce 1s ease-in alternate infinite;
  font-family: "youtube", sans-serif;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(8px);
  }
}

.icon {
  fill: grey;
}

.experience {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.webgl {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
}

/* Main Page */
.btn-to-room > button {
  position: fixed;
  width: 100%;
  height: 90%;
  top: 10%;
  left: 0;
  background-color: transparent;
  /* backdrop-filter: blur(5px); */
  z-index: 500;
}

/* Room Page */
.iframe-wrapper {
  position: relative;
  overflow: hidden;
  /* width: 40vw;
    height: 40vh; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iframe-wrapper iframe {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
.comment-box {
  padding: 0;
}

.btn-room-zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 38%;
  height: 40%;
  background-color: transparent;
  z-index: 500;
}

.btn-room-zoom > button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 400;
}

.btn-return-from-zoom {
  position: fixed;
  top: 10%;
  left: 90%;
  background-color: transparent;
  z-index: 500;
  fill: rgba(255, 255, 255, 1);
}

.text1
{
  position: fixed;
  top: 25%;
  right: 50%;
  transform: translate(30vw, -50%);
  background-color: transparent;
  z-index: 500;
  color: whitesmoke;
  font-size: 25px;
  font-weight: 700;
  font-family: "youtube", sans-serif;
  display: flex;
  align-items: center;
}

.text2
{
  position: fixed;
  top: 35%;
  right: 50%;
  transform: translate(30vw, -50%);
  background-color: transparent;
  z-index: 500;
  color: whitesmoke;
  font-family: "youtube", sans-serif;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.text3
{
  position: fixed;
  top: 30%;
  right: 50%;
  transform: translate(30vw, -50%);
  background-color: transparent;
  z-index: 500;
  color: whitesmoke;
  font-family: "youtube", sans-serif;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.likes-wrapper {
  position: fixed;
  top: 25%;
  right: 50%;
  transform: translate(30vw, -50%);
  background-color: transparent;
  z-index: 500;
  color: whitesmoke;
  font-size: 25px;
  font-weight: 700;
  font-family: "youtube", sans-serif;
  display: flex;
  align-items: center;
}

.box-heart {
  position: fixed;
  z-index: 500;
  top: 25%;
}

.comments-wrapper {
  position: fixed;
  top: 30%;
  right: 50%;
  transform: translate(30vw, -50%);
  background-color: transparent;
  z-index: 500;
  color: whitesmoke;
  font-family: "youtube", sans-serif;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.box-comment {
  position: fixed;
  z-index: 500;
  top: 30%;
}

.views-wrapper {
  position: fixed;
  top: 35%;
  right: 50%;
  transform: translate(30vw, -50%);
  background-color: transparent;
  z-index: 500;
  color: whitesmoke;
  font-family: "youtube", sans-serif;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.box-view {
  position: fixed;
  z-index: 500;
  top: 35%;
}

.icon-container {
  right: 50%;
  transform: translate(27vw, -50%);
}

.select-menu {
  position: fixed;
  width: 230px;
  top: 15%;
  left: 70%;
}

.select-menu .select-btn {
  display: flex;
  height: 30px;
  background: #fff;
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.select-btn i {
  font-size: 12px;
  transition: 0.3s;
}
.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.select-menu .options {
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: none;
}
.select-menu.active .options {
  display: block;
}
.options .option {
  display: flex;
  height: 35px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.options .option:hover {
  background: #f2f2f2;
}
.option i {
  font-size: 25px;
  margin-right: 12px;
}
.option .option-text {
  font-size: 15px;
  color: #333;
}

/* 반응형으로 추후 수정 */
.button {
  border: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #cccccc;
}

.button:first-child {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.button:last-child {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.navigation {
  display: inline-flex;
  font-family: "baloo2";
  font-size: 12pt;
  text-align: center;
  position: absolute;
  z-index: 1;
  margin: auto;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  padding: 15px 32px;
  background-color: aliceblue;
}

.hidden {
  display: none;
}

/* Preloader */
.preloader {
  position: fixed;
  background-image: url("background/main.png");
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: 1;
}

.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  margin: 6px;
  border-radius: 50%;
  background-color: pink;
  animation: load 1s ease-in-out infinite;
}

.circle:nth-child(2) {
  animation-delay: 0.1s;
}

.circle:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes load {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.landing-wrapper {
  overflow: hidden;
  position: fixed;
  width: 45vw;
  height: 45vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Intro */
.animate {
  display: inline-block;
  transform: translateY(100%);
}

.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: azure;
  font-size: 1.3rem;
}

#menu__toggle {
  opacity: 0;
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  opacity: 100%;
  top: 7% !important;
  pointer-events: auto;
}
.carousel {
  height: inherit;
}
.menu__btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  opacity: 0%;
  top: 0%;
  right: 20px;
  width: 230px;
  max-height: 40%;
  margin: 0;
  border-radius: 24px;
  padding: 80px 0;
  list-style: none;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.5s, 2.5s;
  pointer-events: none;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #000000;
  font-family: "youtube", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #cfd8dc;
}

body {
  font-family: "Instagram Sans", sans-serif;
  font-family: "Instagram Sans Headline", sans-serif;
}
